{
    "extends": [
        "@mathias5r/eslint-config-typescript",
        "@mathias5r/eslint-config-react"
    ],
    "rules": {
        "import/namespace": "off",
        "import/named": "off"
    }
}